:root {
    --violet-blue: #6c0dbc;
    --sand-yellow: #ffe562;
    --green-blue: #00b98d;
    --pastel-pink: #ffbcca;
    --pale-lavender: #eeebf1;
    --midnight-purple: #1c0332;
    --white: #ffffff;
    --pastel-red: #e86153;
    --slate-grey: #6d6e71;
    --midnight-purple: #1c0332;
}
