@import '../../assets/styles/variables.css';

.bench {
    min-height: calc(100vh - 60px);
    background-color: #f9f9f9;

    &-list {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 60px;
    }

    &-card {
        display: inline-block;
        width: 22%;
        height: 236px;
        border-radius: 8px;
        margin: 16px;
        overflow: hidden;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
        overflow: hidden;
        &-bg {
            height: 160px;
            background-image: url(../../assets/images/sticker-bg.jpeg);
            background-size: contain;
        }

        &-cover {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            opacity: 0.4;
            background-color: var(--midnight-purple);
            padding: 16px;
            
            p {
                color: var(--white);
                opacity: 0;
                margin-bottom: 0;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 6;
                overflow: hidden;
            }

            &:hover {
                opacity: 0.8;
                p {
                    opacity: 1;
                }
            }
        }

        &-name {
            color: var(--midnight-purple);
            font-weight: 600;
            text-align: left;
            margin: 16px 0 4px 16px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &-date {
            color: var(--slate-grey);
            text-align: left;
            margin: 0 0 16px 16px;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        height: 60px;
        padding: 0 30px;

        &-title {
            color: var(--violet-blue);
            font-weight: 600;
            right: 48%;
            position: absolute;
        }
    }

    &-empty {
        padding-top: 150px; 
        img {
            width: 320px;
        }
        &-text-no {
            color: var(--slate-grey);
            margin-top: 50px;
            margin-bottom: 6px;
        } 
        &-text-click {
            color: var(--slate-grey);
            font-size: 16px;
            font-weight: 600;
            span {
                color: var(--violet-blue);
            }
        }  
    }

    &-plus {
        border-radius: 50%;
        box-shadow: 0 1px 8px 0 rgba(40, 29, 50, 0.75);
        position: fixed;
        right: 80px;
        bottom: 60px;
        cursor: pointer;
    }
}


.logo {
    height: 46px;
    width: 30px;
    background-image: url(../../assets/images/icons/logo.svg);
    background-size: cover;
}
