.workshop{
  height: 100%;
  &-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    padding-left: 30px;
    &-title{
      margin-left: 6px;
      font-size: 14px;
      color: var(--slate-grey)
    }
    &-info {
      position: relative;
      &-brif {
        margin-bottom: 0;
        margin-left: 40px;
        color: var(--violet-blue);
        cursor: pointer;
        span {
          max-width: 140px;
          overflow: hidden;
          display: inline-block;
          word-break: keep-all;
          text-overflow: ellipsis;
          vertical-align: bottom;
        }
        &:hover {
          + .workshop-header-info-detail {
            opacity: 1;
          }
        }
      }
      &-detail {
        position: absolute;
        width: 300px;
        color: var(--white);
        border-radius: 4px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
        background-color: var(--violet-blue);
        top: 40px;
        padding: 12px;
        opacity: 0;
      }
    }
  }
  &-types{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-bottom: 0;
    background-color: var(--midnight-purple);
    &-item{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 60px;
      cursor: pointer;
      &:first-child{
        margin-left: 0;
      }
      .type-name{
        margin-top: 7px;
        font-size: 10px;
        line-height: 10px;
        color: var(--white);
      }
    }
  }
}