.workshop{
  height: 100%;
  &-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    padding-left: 30px;
    &-title{
      margin-left: 6px;
      font-size: 14px;
      color: var(--slate-grey)
    }
    &-info {
      position: relative;
      &-brif {
        margin-bottom: 0;
        margin-left: 40px;
        color: var(--midnight-purple);
        font-weight: 600;
        white-space: nowrap;
        cursor: pointer;
        span {
          max-width: 140px;
          overflow: hidden;
          display: inline-block;
          word-break: keep-all;
          text-overflow: ellipsis;
          vertical-align: bottom;
        }
        .anticon-edit {
          vertical-align: middle;
        }
        &:hover {
          + .workshop-header-info-detail {
            display: block;
          }
        }
      }
      &-detail {
        display: none;
        position: absolute;
        left: 40px;
        width: 300px;
        color: var(--white);
        border-radius: 4px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
        background-color: var(--violet-blue);
        top: 40px;
        padding: 12px;
        z-index: 2;
      }
    }
    &-members {
      cursor: pointer;
      margin-left: 30px;
      .ant-avatar {
        margin-right: -4px;
      }
      .anticon {
        padding-left: 10px;
      }
    }
  }
  &-types{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-bottom: 0;
    background-color: var(--midnight-purple);
    &-item{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 60px;
      cursor: pointer;
      opacity: 0.7;
      &.active{
        opacity: 1;
      }
      &:first-child{
        margin-left: 0;
      }
      .type-icon{
        display: inline-block;
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        &.businessVision{
          background-image: url(../../assets/images/icons/business-vision.svg);
        }
        &.dataPanorama{
          background-image: url(../../assets/images/icons/data-panorama.svg);
        }
        &.technologyCard{
          background-image: url(../../assets/images/icons/tool-cards.svg);
        }
        &.divergenceScene{
          background-image: url(../../assets/images/icons/divergence-scene.svg);
        }
        &.convergenceScene{
          background-image: url(../../assets/images/icons/convergence-scene.svg);
        }
        &.generateReport{
          background-image: url(../../assets/images/icons/report.svg);
        }
      }
      .type-name{
        margin-top: 7px;
        font-size: 10px;
        line-height: 10px;
        color: var(--white);
      }
    }
  }
}

.report {
  padding-top: 60px;
  img {
    width: 320px;
  }
  p {
    margin: 30px;
    font-size: 20px;
  }
}